<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="context-pack-list-title">Context Packs</mat-card-title>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <mat-label>Name</mat-label>
            <input matInput data-test="ctxPkNameInput" placeholder="Filter by name"
            [(ngModel)]="ctxPkName" (input)="updateFilter()">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Enabled</mat-label>
            <input matInput data-test="ctxPkEnabledInput" placeholder="Filter by enabled"
            [(ngModel)]="ctxPkEnabled" (input)="updateFilter()">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card>
      <mat-card-content>
        <mat-nav-list>
          <h3 mat-subheader>Context Packs</h3>
          <a mat-list-item *ngFor="let ctxPk of this.filteredCtxPks" [routerLink]="['/ctxPks', ctxPk._id]" class="ctxPk-list-item">
            <h3 matLine class="ctxPk-list-name"> {{ctxPk.name}} </h3>
            <p matLine class="ctxPk-list-enabled"> {{ctxPk.enabled}} </p>
            HII
            <b *ngFor="let wordlist of ctxPk.wordLists">
              hi
              {{ wordlist.name }}
            </b>
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

