<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="context-pack-list-title">Context Packs</mat-card-title>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <mat-label>Name</mat-label>
            <input matInput data-test="ctxPkNameInput" placeholder="Filter by name"
            [(ngModel)]="ctxPkName" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Enabled</mat-label>
            <input matInput data-test="ctxPkEnabledInput" placeholder="Filter by enabled"
            [(ngModel)]="ctxPkEnabled" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxLayout="row wrap" fxLayoutGap="10px" class="user-cards-container">
    <mat-card>
      <mat-card-content>
        <mat-nav-list class="context-pack-nav-list">
          <h3 mat-subheader>Context packs</h3>
          <a mat-list-item *ngFor="let contextPack of this.filteredCtxPks" [routerLink]="['/ctxPks', contextPack._id]" class="context-pack-list-item">
            <img matListAvatar [src]="contextPack.icon" *ngIf="this.contextPack.icon">
            <h3 matLine class="context-pack-list-name"> {{contextPack.name}} </h3>
            <p matLine class="context-pack-list-enabled"> {{contextPack.enabled}} </p>
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #usersError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="user-error">
      <mat-error>
        There was a problem loading the users. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>

</div>

